<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>AdoptMe+ - Create Adoption</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1>Adoption Information:</h1>
        <form>
            <div class="form-group my-2">
                <label for="customer">Customer:</label>
                <select class="form-select" name="customer" id="customer">
                    <option selected>Select a Customer..</option>
                    <option value="1">Customer 1</option>
                    <option value="2">Customer 2</option>
                    <option value="3">Customer 3</option>
                </select>
            </div>
            <div class="form-group my-2">
                <label for="dog">Dog:</label>
                <select class="form-select" multiple name="dog" id="dog">
                    <option value="1">Dog 1</option>
                    <option value="2">Dog 2</option>
                    <option value="3">Dog 3</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary my-2">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>