<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>AdoptMe+ - Create Dog</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1>Dog Information:</h1>
        <form>
            <div class="form-group my-2">
                <label for="dog">Name:</label>
                <input type="text" class="form-control" name="dog" id="dog">
            </div>
            <div class="form-group my-2">
                <label for="age">Age:</label>
                <input type="text" class="form-control" name="age" id="age">
            </div>
            <div class="form-group my-2">
                <label for="breed">Breed:</label>
                <input type="text" class="form-control" name="breed" id="breed">
            </div>
            <div class="form-group my-2">
                <label for="location">Location:</label>
                <input type="text" class="form-control" name="location" id="location">
            </div>
            <div class="form-group my-2">
                <label for="tags">Tags:</label>
                <input type="text" class="form-control" name="tags" id="tags">
            </div>
            <div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>