<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>AdoptMe+ - Customers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="border border-2 rounded bg-light shadow-lg p-5">
            <div class="pb-2">
                <h2>Customers</h2>
            </div>
            <hr>
            <div class="p-2 pt-3 px-5">
                <p>Would you like to create a new Customer entry or edit an existing one?</p>
            </div>
            <hr>
            <div class="mt-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customerList}">
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.lastName}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.address}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex flex-row justify-content-end gap-2 pt-3">
                <div class="">
                    <a class="nav-link" aria-current="page" th:href="@{/customers/create}">
                        <button class="btn btn-primary btn-sm" type="submit">Create</button>
                    </a>
                </div>
                <div>
                    <a class="nav-link" aria-current="page" th:href="@{/customers/edit}">
                        <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>