<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>AdoptMe+ - Editing Adoptions</title>
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="border border-2 rounded bg-light shadow-lg p-5">
      <div class="pb-2">
        <h2>Available Adoptions</h2>
        <i>Select an adoption to update or delete.</i>
      </div>
      <form>
        <hr>
        <div class="p-2 pt-3 px-5 d-flex flex-row-3 justify-content-center">
          <div class="px-5 pb-2 col-sm">
            <div class="mt-4">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">Dog</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="adoption : ${adoptionsList}">
                  <td th:text="${adoption.customer.firstName}"></td>
                  <td th:text="${adoption.dog.fullName}"></td>
                  <td>
                    <form th:action="@{/adoptions/adoptionupdate/{adoptionId}(adoptionId=${adoption.adoptionId})}" method="post">
                      <button type="submit">Select</button>
                    </form>
                    <!--<form th:action="@{/adoptions/update/{adoptionId}/{dogId}/{customerId}(adoptionId=${adoption.adoptionId},customerId=${adoption.customer.getCustomerId()},dogId=${adoption.dog.dogId})}" method="post">
                      <button type="submit">Select</button>
                    </form>-->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
      </form>
      <div class="d-flex flex-row justify-content-end gap-2 pt-3">
        <a class="nav-link" aria-current="page" th:href="@{/adoptions/update}">
          <button class="btn btn-sm btn-primary" type="submit">Select</button>
        </a>
        <a class="nav-link" aria-current="page" th:href="@{/adoptions/delete}">
          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>