<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>AdoptMe+ - Editing Customers</title>
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="border border-2 rounded bg-light shadow-lg p-5">
      <div class="pb-2">
        <h2>Available Customers</h2>
        <i>Select a customer to update or delete.</i>
      </div>
      <form>
        <hr>
        <div class="p-2 pt-3 px-5 d-flex flex-row-3 justify-content-center">
          <div class="px-5 pb-2 col-sm">
            <select class="form-select text-center" size="3" aria-label="Customer select" name="customer" id="customerList">
              <option value="1">Customer 1</option>
              <option value="2">Customer 2</option>
              <option value="3">Customer 3</option>
            </select>
          </div>
        </div>
        <hr>
      </form>
      <div class="d-flex flex-row justify-content-end gap-2 pt-3">
        <a class="nav-link" aria-current="page" th:href="@{/customers/update}">
          <button class="btn btn-sm btn-primary" type="submit">Select</button>
        </a>
        <a class="nav-link" aria-current="page" th:href="@{/customers/delete}">
          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>