<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>AdoptMe+ - Editing Dogs</title>
    <script type="text/javascript">
        $(function() {
            let selectedDogId = null;

            $("#breed").autocomplete({
                source: "edit/dogNamesAutocomplete",
                minLength: 1,
                select: function(event, ui) {
                    this.value = ui.item.label;
                    selectedDogId = ui.item.value;
                    $("#dogId").val(selectedDogId);
                    const submitButton = document.getElementById("submitButton");
                    if (selectedDogId !== null) {
                        submitButton.href = "/dogs/update/" + selectedDogId;
                    } else {
                        submitButton.href = "#";
                    }

                    return false;
                }

            });


        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="border border-2 rounded bg-light shadow-lg p-5">
            <div class="pb-2">
                <h2>Available Dogs</h2>
                <i>Find a dog to update or delete.</i>
            </div>
            <form>
                <hr>
                <div class="p-2 pt-3 px-5 d-flex flex-row-3 justify-content-center">
                    <div class="px-5 pb-2 col-sm">
                            <label for="breed">Breed:</label>
                            <input id="breed" type="text" class="form-control" name="breed">
                    </div>
                </div>
                <hr>
                <input id="dogId" type="hidden" class="form-control" name="dogId">
            </form>
            <div class="d-flex flex-row justify-content-end gap-2 pt-3">
                <a class="nav-link" aria-current="page" href="#" id="submitButton">
                    <button class="btn btn-sm btn-primary" type="button">Submit</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>