<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>AdoptMe+ - Update Dog</title>
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="border border-2 rounded bg-light shadow-lg p-5 mt-5">
      <div class="pb-2">
        <h2>Dog Information</h2>
        <i>Input information to update: Dog 1</i>
      </div>
      <form>
        <hr>
        <div class="p-2 pt-3 px-5 d-flex flex-row-3 justify-content-center">
          <div class="px-5 pb-2 col-sm">
            <div class="form-group my-2">
              <label for="dog">Name:</label>
              <input type="text" class="form-control" name="dog" id="dog" placeholder="Dog 1">
            </div>
            <div class="form-group my-2">
              <label for="age">Age:</label>
              <input type="text" class="form-control" name="age" id="age" placeholder="5">
            </div>
            <div class="form-group my-2">
              <label for="breed">Breed:</label>
              <input type="text" class="form-control" name="breed" id="breed" placeholder="Golden Retriever">
            </div>
            <div class="form-group my-2">
              <label for="location">Location:</label>
              <input type="text" class="form-control" name="location" id="location" placeholder="123 Dog Street">
            </div>
            <div class="form-group my-2">
              <label for="tags">Tags:</label>
              <input type="text" class="form-control" name="tags" id="tags" placeholder="friendly">
            </div>
          </div>
        </div>
        <hr>
      </form>
      <div class="d-flex flex-row justify-content-end gap-2 pt-3">
        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>