<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>AdoptMe+ - Update Dog</title>
</head>
<body>
<div layout:fragment="content">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="border border-2 rounded bg-light shadow-lg p-5 mt-5">
      <div class="pb-2">
        <h2>Dog Information</h2>
        <i>Updating information for: <span class="fw-bold" th:text="${dog.fullName}"></span></i>
      </div>
      <form th:method="post" id="postForm" name="postForm" th:action="@{'/dogs/update/updateDog'(dogId=${dogId})}" th:object="${dog}">
        <div class="form-group my-2">
          <label for="fullName">Name:</label>
          <input type="text" class="form-control" th:field="*{fullName}" id="fullName">
        </div>
        <div class="form-group my-2">
          <label for="age">Age:</label>
          <input type="text" class="form-control" th:field="*{age}" id="age">
        </div>
        <div class="form-group my-2">
          <label for="breed">Breed:</label>
          <input type="text" class="form-control" th:field="*{breed}" id="breed">
        </div>
        <div class="form-group my-2">
          <label for="location">Location:</label>
          <input type="text" class="form-control" th:field="*{location}" id="location">
        </div>
        <div class="form-group my-2">
          <label for="tags">Tags:</label>
          <input type="text" class="form-control" th:field="*{tags}" id="tags">
        </div>
      </form>
      <form id="deleteForm" name="deleteForm" th:action="@{'/dogs/update/delete'(dogId=${dogId})}" th:method="delete" th:object="${dog}">
        <input type="hidden" th:field="*{dogId}" />
      </form>
      <div class="d-flex flex-row justify-content-end gap-2 pt-3">
        <button class="btn btn-sm btn-primary" type="submit" form="postForm">Submit</button>
        <button class="btn btn-sm btn-danger" type="submit" form="deleteForm" th:method="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>